@model CrmApplication.Entites.Product
<div class="row">
    <div class="col-md-12">
        <form asp-action="Edit" id="formProductEdit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div style="text-align:center !important;">
                <img class="img-bordered-sm" src="~/images/product/@Model.ImageUrl" alt="User Image" style="width:280px !important; height:205px !important;">
            </div><br />
            <div class="form-group">
                <input asp-for="ImageUrl" class="control-label" type="hidden"></input>
            </div>
            <div class="form-group">
                <label asp-for="ImageUrl" class="control-label"></label>
                <input class="form-control" type="file" name="file" multiple="false" />
            </div>

            <div class="form-group" >
                <input asp-for="Id" class="form-control" type="hidden" />
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UnitPrice" class="control-label"></label>
                <input asp-for="UnitPrice" class="form-control" />
                <span asp-validation-for="UnitPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StockAmount" class="control-label"></label>
                <input asp-for="StockAmount" class="form-control" />
                <span asp-validation-for="StockAmount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VatRate" class="control-label"></label>
                <input asp-for="VatRate" class="form-control" />
                <span asp-validation-for="VatRate" class="text-danger"></span>
            </div>          
            
        </form>
    </div>
</div>
